@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,300&family=Roboto&display=swap");


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100vw;
	height: 100vh;
	font-family: Poppins;
}

h1, h2 {
	color: #0B2447;
}

.nav-container {
	display: flex;
	justify-content: space-between;
	padding: 1rem;
	background-color:#0B2447;
}

.nav-left {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}




.nav-left p {

	font-family: Poppins;
	font-weight: 200;
	display: flex;
	align-self: center;
	font-size: 1.5rem;
	color: #D3DEDC;

}

.nav-right ul {
	display: flex;
	gap: 40px;
	text-decoration: none;
	padding: 1.5rem;
	align-self: center;

}

.nav-right ul li {
	list-style: none;
	transition: transform 0.2s;

} 

.nav-right ul li:hover {
	transform: scale(1.2);
}


.nav-right ul li a {
	text-decoration: none;
	color: #D3DEDC;
	font-weight: 600;
	
	
}

.nav-right ul li a:hover {
	color: #FFC436;
	
}



 #home { 
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10rem;

} 






#home p {
	width: 50%;
	padding: 20px;
	line-height: 1.6;
	
}

h1{

	font-size: 3rem;
}


/*  
#duck {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.duck-container{
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 45%;
}*/

main {
	width: 100vw;

}

#duck {
	padding: 2rem;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-items: center;
}

#duck p {

	line-height: 1.6;
	width: 70%;
	display: block;
	padding: 20px;
}

.duck-image {
	display: block;
	align-self: center;
	
}


.text {
	display:flex;
	flex-direction: column;
	align-items: center;
	
}

#emergency {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2rem;
}

#emergency h2 {
	margin-bottom: 2.5rem;

}

.grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 10px;
	width: 40%; 
	margin-bottom: 2.5rem;
	/* padding: 2rem; */
}


.grid-container a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid #000; /* Add a border to create the square appearance */
    height: 0; /* Set the height to 0 to ensure the square shape */
    padding: 50% 0; /* Set the padding to create a square shape (50% width and 50% height) */
	text-decoration: none;
	font-weight: 600;
	background-color: #FCF5ED;
	border-style:none;
}

.grid-container img {
	transition: transform 0.2s;
 }

 .grid-container img:hover {
	transform: scale(1.2);
 }



#contact {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2rem;
	background-color: #D3DEDC;
}

#contact h2,
a {
	text-align: center;
	margin-bottom:1rem;
	
}

#contact a {
	text-decoration: none;
	list-style: none;
	font-weight: 600;
}

.form-container {
	margin: 2rem;
	padding: 2rem;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	
}


label,
input,
textarea {
	display: block;
	margin: 1rem auto;

}

input,
textarea {
	border-radius: 10px;
}


label {
   margin-top: 1px; 
    margin-bottom: 1px;
	color: #0B2447;
	font-weight: 600;
	font-family: Poppins;
	
}

input {
	width: 350px;
	padding: 10px;
	
	/* border-style: none; */
	

}


/*  
button{
    display: block;
    border: 1px solid #34D7DF;
    background-color: transparent;
    padding: 10px 30px;
    margin-bottom: 2.5rem;
	align-self: center;
 }

  button a {
    color: #34D7DF;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
 }

 button a:hover{
    color: white;
 }

 */

 .button {
	height: 50px;
	width: 200px;
	position: relative;
	background-color: #0B2447;
	cursor: pointer;
	border: 2px solid #0B2447;
	overflow: hidden;
	border-radius: 30px;
	color:  #D3DEDC;
	transition: transform 0.2s;
	margin-top: 2rem;
	
  }

  .button:hover {
	background-color: #FFC436;
	color: #0B2447;
	border: 2px solid #FFC436;
	transform: scale(1.1);
 }
  
  .btn-txt {
	
	font-weight: 600;
	letter-spacing: 4px;
	font-family: Poppins;
	transition: transform 0.2s
  }
  .btn-txt {
	transform: scale(1.2);

  }
  

 
